<!-- Footer -->
<footer class="bg-blue-900 text-white py-10">
  <div class="container mx-auto text-center">
    <div class="flex justify-between items-center mb-8">
      <div class="flex items-center">
        <img
          alt="Energix Logo"
          class="mr-3"
          height="50"
          src="smartcity.png"
          width="50"
        />
        <span class="text-xl font-bold"> Smart City </span>
      </div>
    </div>
    <div class="flex justify-between items-center mb-8">
      <div>
        <h3 class="text-lg font-bold mb-2">Contact Information</h3>
        <p>1234 Street Name, City, State, 12345</p>
        <p>Email: info@energix.com</p>
        <p>Phone: (123) 456-7890</p>
      </div>
    </div>
    <p>© 2023 Energix. All rights reserved.</p>
  </div>
</footer>
