<!-- Footer -->
<footer class="bg-blue-900 text-white py-10">
  <div class="container mx-auto text-center">
    <!-- Flex container to center the logo and contact information -->
    <div class="flex flex-col items-center mb-8">
      <div class="flex items-center mb-4">
        <img
          alt="Energix Logo"
          class="mr-3"
          height="50"
          src="smartcity.png"
          width="50"
        />
        <span class="text-xl font-bold"> Smart City </span>
      </div>
    </div>

    <!-- Contact Information -->
    <div class="text-center mb-8">
      <h3 class="text-lg font-bold mb-2">Contact Information</h3>
      <p>1234 Street Name, City, State, 12345</p>
      <p>Email: info@energix.com</p>
      <p>Phone: (123) 456-7890</p>
    </div>

    <!-- Copyright Section -->
    <p>© 2023 Energix. All rights reserved.</p>
  </div>
</footer>
